<div class="card mt-4">
  <h4 class="card-header">Welcome to the blog of nature lovers !</h4>
  <div *ngIf="users" class="card-body">
      <h6 *ngFor="let user of users">Hi {{user.firstName}} !</h6>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  </div>
</div>

<div>
  <p>
    Winter at Mulhouse !
  </p>
  <img src="../../../assets/IMG_0422.JPG" alt="Snowy !">
  <app-posts></app-posts>


<hr>
<div>
  <p>
    Summer Vibes !
  </p>
  <img src="../../../assets/E3RCPYhWEAAaApg.jpg" alt="Sunny !">
  <!-- //comment section -->
</div>
<hr>
<div>
  <p>
    Baie des milliardaires
  </p>
  <img src="../../../assets/E3RCS4UXEAINxAX.jpg" alt="Beach">
  <!-- //comment section -->
</div>
<hr>

